@charset "ISO-8859-1";



*{
	
	margin: 0%;
	font-family: sans-serif;
}

.div-body{
	
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items:center;
	
}
.div-filho{
	
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.button-construtor{
	color:#EC255A;
	border: 2px solid #EC255A;
	border-radius: 50px;
}

.button-enviar{
	color:#34BE82;
	border: 2px solid #34BE82;
	border-radius: 50px;
}
